h2{
   margin-left: 40%;
}
#imageContainer{
   display:flex;
   flex-wrap: wrap;
   width:800px;
   justify-content: flex-start;
   gap:10px;
   margin-left: 25%;
}
/* #imageContainer>img{
   width:200px;
   height:200px;
} */
.img{
   width:300px;
   height:300px;
}
.img:hover{
  cursor: pointer;
  
   
}
.original{
   width:200px;
   height:200px;
}