.topBarContainer{
    margin-left:40%;
}
.topBarContainer>div{
    margin-bottom: 10px;
}
div:nth-child(3)>button{
    background-color: black;
    color:white;
    margin:0px 3px;
    border-radius: 3px;
}
div:nth-child(2)>button{
    background-color: black;
    color:white;
    margin:0px 3px;
    border-radius: 3px;
}
.topBarContainer>div>button:hover{
    cursor: pointer;
}